<a href="https://colab.research.google.com/github/Ariefsuhanda/Latihan-Python/blob/main/Mengatasi_Missing_Data_dengan_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas dan numpy dulu
import numpy as np
import pandas as pd

In [10]:
vals1 = np.array([1, None, 3, 4])
vals1
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [4]:
# Non pytonic missing data
for dtype in ['object', 'int']:
 print("dtype =", dtype)
%timeit np.arange(1E6, dtype=dtype).sum()
print()

dtype = object
dtype = int
The slowest run took 5.57 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 1.81 ms per loop

In [5]:
vals1.sum()
# Ga bisa karena integer sama noun beda type

TypeError: ignored

In [11]:
# ngelihat type data yg missing
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [12]:
1 + np.nan

nan

In [7]:
0 * np.nan

nan

In [13]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [14]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [15]:
# Nan dan none di pandas
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [16]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [17]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64