<a href="https://colab.research.google.com/github/Ariefsuhanda/Latihan-Python/blob/main/Pengantar_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import numpy dan pandas ke notebook
import numpy as np
import pandas as pd

In [3]:
# Buat list dan tampilkan data list
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
# Cek nilai yang terkandung dlam list
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
# Melihat index dalam data
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# Melihat data pada urutan index ke-2
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [9]:
# Menambahkan array value dan melabel index
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
# Value dapat dilihat dengan memasukan index misalnya :
data['b']

0.5

In [11]:
# Bisa juga menggunakan index non-contigous
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
# Melihat value index ke-5
data[5]

0.5

In [15]:
# Membuat series dictionary dengan contoh kota dan jumlah penduduk
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [16]:
# Mengecek nilai dari suatu index, jumlah penduduk dari suatu kota
population['California']

38332521

In [17]:
# Mengecek nilai dari index pertama sampai ketiga dengan nama index nya, jumlah penduduk di kota california sampai illonois
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
# Data dari pandas series
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [19]:
# Jika datanya dalam skalar
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [20]:
# Jika data pandas serie-nya dengan dictionary
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [22]:
# Bisa juga seperti ini
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [24]:
# Dataframe dengan dua dimensional array
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [25]:
# Setelah tadi arraynya masuk, bisa juga membuat dictionary lain contoh disini states yang mengandung informasi tadi
states = pd.DataFrame({'population': population,
 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [26]:
# Bisa dicek lagi indexnya
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
# Melihat colomn atribut index
states.columns

In [29]:
# Melihat nilai dari dictionary tadi
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [28]:
# Membuat dataframe objek dari series single
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [31]:
# Membuat dataframe objek dari series dictionary
data = [{'a': i, 'b': 2 * i}
 for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
# Bahkan jika ada data yang tidak lengkap bisa diketahui outputnya yang Nan
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
# Membuat dataframe objek dari series dictionary
pd.DataFrame({'population': population,
 'area': area})

In [34]:
# Membuat dataframe objek dari 2 dimensi array
pd.DataFrame(np.random.rand(3, 2),
 columns=['foo', 'bar'],
 index=['a', 'b', 'c'])

        foo       bar
a  0.918087  0.172699
b  0.812691  0.753520
c  0.805767  0.993587

In [35]:
# Membuat dataframe numpy data terstruktur
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [36]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [37]:
# Membuat list dari objek data integers
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [38]:
# Melihat value dari suatu index1 
ind[1]

3

In [39]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [40]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [42]:
# Index objek dan numpy array itu tak mutable tidak bisa dimodif, maka akan erro
ind[1] = 0

TypeError: ignored

In [46]:
# Index sebagai set yang diurutkan
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [47]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [48]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [49]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')